{% from "macros.html" import show_flash %}
{% extends "base.html" %}

{% block page_title %}
  All trips
{% endblock %}

{% block page_body %}

{{ show_flash() }}
{{ session.pop('_flashes', '') }}

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">This trip will be deleted:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="idDeleteModalBody">
        ...
      </div>
      <div class="modal-footer">
        <form action="" method="GET" id="confirmDeleteForm">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
      // For A Delete Record Popup
      // This function is applied to all elements with class ending  with ".delete-confirm"
      $('.delete-confirm').click(function () {
          // get attributes of the found element
          var desc = $(this).attr('data-desc');
          var url = $(this).attr('data-url');
          // the #... designates id of an element - change the text in the modal window
          $('#idDeleteModalBody').text(desc);
          $("#confirmDeleteForm").attr("action", url);
      });
  });
</script>


<br>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Description</th>
            <th scope="col">Completeness</th>
            <th scope="col">Contact</th>
          </tr>
        </thead>
        <tbody>
          {% for trip in trips %}
          <tr>
            <th scope="row">{{ trip[0] }}</th>
            <td>{{ trip[1] }}</td>
            <td>{{ trip[2] }}</td>
            <td>{{ trip[3] }}</td>
            <td>
                {% if trip[4] %}
                     &check;
                  {% else %}
                     &#x25a2;
                  {% endif %}
            </td>
            <td>
                {% if trip[5] %}
                     &check;
                  {% else %}
                     &#x25a2;
                  {% endif %}
            </td>
            <td>
                <a href="{{ url_for('edit_trip', trip_id = trip[0]) }}" class="btn btn-success btn-sm" role="button">Edit</a>
                <a type="button" class="btn btn-danger btn-sm delete-confirm"
                   data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                   data-desc="{{ trip[1] }}"
                   data-url="{{ url_for('delete_trip', trip_id = trip[0]) }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}
